<h4>Comments</h4>
<% @event.comments.each do |comment| %>
  <div class="well" >
    <p><strong><%= comment.username %></strong>:
      <%= comment.content %>
      <%= link_to '[X]', [comment.event, comment],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
    </p>
  </div>
<% end %>
