<h1>Events</h1>
<% @events.each do |event| %>
  <div class="well">
    <h3><%= event.title %></h3>
    <p><%= event.description %></p>
    <%= link_to "Read More", event_path(event), :class => 'btn btn-primary' %>
  </div>
<% end %>
